*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
    font-size: 16px;
}
header{
    width: 100%;
    height: 600px;
    background-image: url(img/Backgorund.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #b8ad6f;
    text-align: center;
}
 header .text{
    margin-top: 130px;
 }
 header .title{
    font-size: 85px;
 }

 header .subtitle{
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 32px;
 }

 header .button{
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #b8ad6f;
    background-color: #b8ad6f;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-bottom: auto;
 }

 .declined{
   z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
 }

 .inclined{
   z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 35vh 100vw 0 0 ;
    border-style: solid;
    border-color: #fff transparent transparent  transparent;
 }

 .container{
    width: 90%;
    max-width: 1000px;
    margin-top:-50px;
    text-align: center;
    overflow: hidden;
    padding: 52px 0;
    margin-left: auto;
    margin-right: auto
    
    ;
 }

 .about-us{
    text-align: center;
    font-size: 56px;
    margin-bottom: 24px;
    font-weight: 600;
    
    
 }
 .slogan{
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
 }

 .paragraph{
    margin-bottom: 20px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24,16,16);

 }

 .about .button{
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24,16,16,.7);
    color: rgb(24,16,16);
    background-color: #b8ad6f;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 24px;
 }
 
 .gallery{
    width: 100%;
    height: 550px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
 }

 .images{
    width: 20%;
    height: 550px;
    overflow: hidden;
    position:relative;
 }

 .images img{
    width: 120%;
    height: 120%;
    object-fit: cover;
 }

 .above{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(52, 73, 94, 0.815);
 }

 .above h2{
   position: relative;
   top: 45%;
   text-align: center;
   color: #fff;
   font-size: 40px;
 }

 .above div{
   position: relative;
   display: block;
   top: 46%;
   width: 100px;
   height: 5px;
   background: #fff;
   margin: auto;
 }

.cards{
   width: 100%;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.card{
   margin:  20px 0;
   width:60%;
   height: 350px;
   text-align: center;
   font-size: 30px;
   padding: 2px;
   border-radius: 5%;
   box-shadow:  0px 0px 4px 0 rgba(52, 73, 94, 0.84);
}

.cards img{
   width: 300px;
   height: 250px;
   object-fit:cover;
}


.background{
   height: 900px;
   position: relative;
   background-image: url(img/fondo-abstracto-diseno-low-poly-lineas-conexion-puntos.jpg);
   overflow: hidden;
   background-attachment: fixed;
   background-position: center;
   background-size: 1800px;
   padding-top: 130px;

}

.declined-unic{
   z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #2c3e50 transparent;
 }

 .title-endorsment, .subtitle-endorsment{
   color: #000;
   text-align: center;
 }

 .title-endorsment{
   font-size: 56px;
   margin-top: 48px;
 }

 .subtitle-endorsment{
   font-size: 24px;
   font-weight: 300;
   margin-bottom: 64px;
 }


 .clients{
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 64px;
   width: 100%;
   justify-content: space-between;
   justify-content: left;
   justify-content: right;
 }

 .client{
   width: 30%;
 }
 .client img{
   width: 70%;
 }

 footer{
   background: #2c3e50;
   height: auto;

 }

 .title-footer, .subtitle-footer{
   color: #fff;
   text-align: center;
   font-size: 56px;
 }

 .subtitle-footer{
   font-size: 16px;
   font-size: 400;
   margin-bottom: 64px;
 }

 form{
   display: flex;
   width: 100%;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: auto;
 }

 input[type="text"], input[type="email"]{
   display: inline-block;
   width: 48%;
   padding: 13px;
   border: none;
   color: #fff;
   font-family: 'open sans';
   background: rgba(37,37,33,.7);
   margin-bottom: 16px;
   border-top:  5px solid rgba(37,37,33,.7);
 }

 input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
   border-top:  5px solid rgba(250, 250, 247, 0.7);
 }

 textarea{
   border-top:  5px solid rgba(250, 250, 247, 0.7);
   display: block;
   width: 100%;
   max-width: 100%;
   min-width: 100%;
   max-height: 200px;
   min-height: 200px;
   background: rgba(37,37,33,.7);
   padding: 13px;
   border: none;
   color: #fff;
   font-family: 'open sans';
   margin-bottom: 16px;
   
 }

 input[type="submit"]{
   display: inline-block;
   padding: 13px;
   border: none;
   background: rgba(37,37,33,.7);
   width: 96px;
   color: #fff;
 }

 footer a{
   font-size: 50px;
    color: #b8ad6f;
    font-weight: bold;
    transition: filter 2s cubic-bezier(.84,.31,.44,.96);
    will-change: filter;
}
 

 
 @media screen and (max-width:900px){
   .card{
      width:48%;
   }
   .card img{
      size-adjust: 30px;
   }
 }

 @media screen and (max-width:610px){
   .header .text{
      margin-top: 130px;
   }
   header .title{
      font-size: 75px;
   }
   .none{
      display: none;
   }
   .images{
      flex-grow: 2;
   }
   .card{
      width: 100%;
   }
   .background{
      height: auto;
   }
   .special{
      display: none;
   }
   .client{
      width: 150px;
      height: 300px;
      margin-bottom: 50px;
   }
 }

 @media screen and (max-width:380px){
    header .text{
      margin-top: 100px;
    }
    header .title{
      font-size: 65px;
    }
    header .subtitle{
      font-size: 25px;
      margin-bottom: 32px;
    }
    .about-us{
      font-size: 46px;
    }
    .slogan{
      font-size: 20px;
    }
    .title-endorsment{
      font-size: 46px;
    }
    .subtitle-endorsment{
      font-size: 20px;
    }
    footer a{
      font-size: 30px;
    }
   
 }